name: Add to Task List
on:
  pull_request:
    types:
      - opened
      - reopened
  issues:
    types:
      - opened
permissions: read-all
jobs:
  add-to-task-list:
    runs-on: ubuntu-latest
    if: github.repository == github.event.pull_request.head.repo.full_name
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.PROJECT_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.PROJECT_AUTOMATION_PRIVATE_KEY }}
      - uses: ./
        with:
          github-token: ${{ steps.generate_token.outputs.token }}
          project-url: https://github.com/orgs/dev-hato/projects/1
