---
name: create-release
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/create-release.yml
      - dist/**
      - action.yml
permissions:
  contents: write
jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: dev-hato/actions-create-release@4f3fe8f09c86afc903e28f90ec9451911d013899 # v0.0.51
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
