---
name: create-release
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/create-release.yml
      - dist/**
      - action.yml
permissions:
  contents: write
jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: dev-hato/actions-create-release@3525863a96d2feb065564f11c0b301aa92e3aced # v0.0.49
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
